body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

#inicio, #examen {
  max-width: 900px;
  margin: 0 auto;
}

input, button {
  font-size: 24px;
  padding: 10px;
  margin: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

#lista-ejercicios {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.ejercicio {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.ejercicio-superior {
  display: flex;
  align-items: center;
  gap: 15px;
}

.numero {
  font-weight: bold;
}

canvas {
  border:1px solid #ccc;
  width: 100%;
  height: 150px;
  touch-action: none;
}

#controles {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

#resultado-final {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

#contador {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

@media(max-width:600px){
  input, button {
    font-size: 18px;
    padding: 8px;
  }

  canvas {
    height: 120px;
  }
}