body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size:36px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

a, button {
  display: block;
  margin: 15px auto;
  padding: 30px 47px;
  font-size: 40px;
  border: none;
  border-radius: 8px;
  background: #4CAF50;
  color: white;
  text-align: center;
  cursor: pointer;
  width: 80%;
  max-width: 400px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  transition: background 0.3s, transform 0.2s;
}

a:hover, button:hover {
  background: #45a049;
  transform: translateY(-2px);
}

/* Móvil */
@media(max-width:600px){
  a, button {
    font-size: 18px;
    padding: 16px 20px;
    width: 90%;
  }

  h1 {
    font-size: 36px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

/* Tablet (iPad) */
@media(min-width:601px) and (max-width:900px){
  a, button {
    font-size: 28px;
    padding: 20px 30px;
    width: 85%;
  }

  h1 {
    font-size: 60px;
    margin-top: 40px;
    margin-bottom: 30px;
  }
}
/* PC grande */
@media(min-width:901px){
  h1 {
    font-size: 80px;   /* tamaño grande para escritorio */
    margin-top: 60px;
    margin-bottom: 40px;
  }

  a, button {
    font-size: 40px;    /* botones grandes */
    padding: 30px 47px;
    width: 80%;
    max-width: 400px;
  }
}